<!-- 
  We will be using this template to display all the URLs and their shortened forms. 

  • we need to pass the template the URL data from express_server.js
 -->

 <!DOCTYPE html>
 <html lang="en">
 <head>
   <style> 
  </style>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
   <title>TinyApp</title>
 </head>
 <body>
 <!-- here we are passing the user object to the partials/header file-->
  <% if (user){%>
    <%- include('partials/_header', {user:user}) %> 
    <%} else {%>
      <%- include('partials/_header') %>
  <%}%>
   <main style="margin: 1em;">
     <h3>My URLs</h3>
     <% if (user){%>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Short URL</th>
            <th scope="col">Long URL</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
           </tr>
         </thead>
         <tbody>
           <!-- const templateVars = {urls: urlDatabase} -->
             <% for(let url in urls) { %>
            <tr>
             <td><%= url %></td>
             <td><%= urls[url]["longURL"] %></td>
             <td><form method="GET" action="/urls/<%= url %>"><button type="submit" class="btn btn-outline-primary">Edit</button></form></td> 
             <td><form method="POST" action="/urls/<%= url %>/delete"><button type="submit" class="btn btn-outline-danger">Delete</button></form></td>            
           <!-- https://getbootstrap.com/docs/4.0/components/buttons/ to see the button classes you can use -->
           <!-- you want to use crocodile clips with = if you want it to output, also above in action you need to work with the variables you have access to, in this .ejs when rendered you passed templateVars and you looped through it and defined url in urls so when you want to define the path the button is linked to reflect the short url of the urls object, you will want to use url in crocodile clips as seen on line 45-->
             <%}%>
             <%} else {%>
              <div class="d-flex flex-column align-items-center card-footer text-muted">
                <div><h2 class="card-title text-center text-info"><br> Save and shorten your URLs to easily access a long link. <br>It's as simple as that. 
                  <br></h2><h3 class="card-title text-center text-muted"><br><br><em>Please <a class="text-info" href="/register">register</a> or <a class="text-info" href="/login">login</a> to create and view your URLs.</em><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></h3></div>
              </div>
      
            <%}%>
       </tbody>
     </table>
   </main>
   <!-- Bootstrap JS -->
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 </body>
 </html>